---
layout: default
title: People
---

{% for role in site.roles %}
<h3>{{ role.name }}</h3>
<dl class="people">
  {% for item in site.data.people %}
  {% assign person = item[1] %}
  {% if person.role == role.key %}
  <dt class="person">
  {% if person.webpage %}
  <a href="{{ person.webpage |escape }}">
    {% endif %}
    {{ person.display_name }}
    {% if person.webpage %}
  </a>
  {% endif %}
  </dt>
  <dd>
  <table>
    <tr>
      <td>
  {% if person.avatar %}
  <img class="img-circle" width="128px" src="{{person.avatar}}"></img>
  {% endif %}
      </td>
      <td>
  {% if person.bio %}
  {{ person.bio | markdownify }}
  {% endif %}
      </td>
    </tr>
  </table>
  </dd>
  {% endif %}
  {% endfor %}
</dl>
{% endfor %}
